version: "3"
services:
  user_db:
    container_name: user_db
    image: mohamedsalama118/mongo
    ports:
      - 27017:27017
    volumes:
      - ./data/users:/data/db
  users:
    container_name: users
    build: ./users
    image: mohamedsalama118/users
    ports:
      - 80:8080
    volumes:
      - ./users/src:/users/src
    environment:
      - NODE_ENV=development
      - PORT=8080
      - MONGO_URL=mongodb://user_db:27017/users
      - EMAIL=nars-qa@outlook.com
      - EMAIL_PASSWORD=NARSsystem
      - EXPIRES_IN=90d
      - JWT_COOKIE_EXPIRES_IN=90
      - JWT_SECRET=MY-JWT_SECRET-for-nodejs-and-express-and-mongodb
    depends_on:
      - user_db
